<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/script.js" defer></script>
    <title>OBA Home</title>
    <link rel="icon" type="image/x-icon" href="/img/oba-logo.png">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="">Zoeken/Filter</a></li>
        </ul>
        <div class="header-logo">
            <a href="/"><img src="/img/oba-logo.png" alt="oba logo"></a>
        </div>
        <ul>
            <li>
                <button>Menu</button>
            </li>
        </ul>
    </nav>

    <main>
        <section class="hero">
            <h1 id="headerTitle"></h1>
        </section>
        <hr class="horizontal-line">

