<%- include('./partials/header') %>

<!--begin main-->
<!--content-->

<section class="home-content">
    <% items.forEach(function(item) { %>
        <a href="/detail/<%= item.id %>">
                <img class="home-items" src='https://fdnd-agency.directus.app/assets/<%= item.afbeelding %>' width="300" height="500">
        </a>
    <% }) %>
</section>
<!--einde main-->
<%- include('./partials/footer') %>

<script>
    let pagina = 'Home';
</script>
