/*@font-face {*/
/*    font-family: AvenirRoman;*/
/*    src: url(../font/Avenir-roman.ttf);*/
/*}*/

/*@font-face {*/
/*    font-family: AvenirMedium;*/
/*    src: url(../font/Avenir-medium.ttf);*/
/*}*/

/*@font-face {*/
/*    font-family: AvenirBlack;*/
/*    src: url(../font/Avenir\ -black.ttf);*/
/*}*/

@font-face {
    font-family: 'avenir_roman_12';
    src: url('font/avenir_roman_12.otf') format('opentype');
    /* Andere eigenschappen zoals font-weight en font-style kunnen hier worden gespecificeerd indien nodig */
}


@font-face {
    font-family: 'Avenir';
    src: url('https://example.com/Avenir.woff2') format('woff2'), /* Modern Browsers */
    url('https://example.com/Avenir.woff') format('woff'); /* Older Browsers */
    font-weight: normal;
    font-style: normal;
}


:root{
/*kleuren*/
    --main-color: #ffff;
    --secondary-color: #e30613;
    --tertairy-color: black;
    /*font*/
    --font-family: avenir_roman_12;
;
    --font-size-h1: 2em;
    --font-size-h2: 1.5em;
    --font-size-h3: 1.3em;
    --font-size-text: 1.2em;
    --font-size-small: 1em;
}

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: var(--font-family);*/
/*}*/
* {
    font-family: avenir_roman_12;
}

body {
    font-family: var(--font-family);
}
/*components*/
ul {
    list-style-type: none;
    font-size: var(--font-size-text);
    margin-top: 2em;
}

a {
    color: var(--tertairy-color);
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    width: 10em;
    height: 2.5em;
    color: var(--main-color);
    transition: transform 0.1s ease-in;
    margin: 1em;
}

button:hover {
    transform: scale(1.1) ;
}

/* Focusstijl alleen wanneer gefocust met toetsenbord */
button:focus:not(:active) {
    outline: 3px solid red; /* Rode omlijning bij focus */
    outline-offset: 5px;
}


/*fonts*/
h1 {
    font-size: var(--font-size-h1);

}

h2 {
    font-size: var(--font-size-h2);

}

h3 {
    font-size: var(--font-size-h3);
}

p, button {
    font-size: var(--font-size-text);
}






