

a {
  margin: auto;
}

/*home pagina*/

/*hero*/

.hero {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.horizontal-line {
    border: none; /* Verwijder de standaard rand van de <hr> */
    background-color: var(--secondary-color); /* Stel de achtergrondkleur in op wit */
    border-radius: 10px;
    height: 3px; /* Hoogte van de lijn */
    width: 90%; /* Breedte van de lijn, in dit geval 90% van de container */
    margin: 0 auto; /* Plaats de lijn in het midden van de container */
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
}

/*content*/
.home-content {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto); /* Vaste hoogte van 200px voor alle rijen */
    grid-gap: 5em; /* Optioneel: voeg ruimte toe tussen de kolommen */
    padding: 0; /* Reset de padding */
}

.home-items {
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
    border-radius: 10px;
    height: 29em; /* Verminder de padding */
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
    width: 20em;
    background-size: 100% auto; /* 100% breedte, automatische hoogte */
    background-repeat: no-repeat; /* Voorkomt dat de achtergrondafbeelding herhaalt */
    background-position: center; /* Plaatst de achtergrondafbeelding in het midden van het element */
}

.home-items:hover {
    scale: 1.05;
    transform: translateY(-0.5em);
    transition: 0.2s ease-in-out;
}

.home-items a {
    display: block;
    width: 100%;
}

/*Detail pagina*/

.details-grid-container {
    display: grid;
    place-items: center;
    text-align: center;
}



.description h2 {
    margin: 1em;
}

.description p {
    margin: 1.5em;
}

.details-button {
    width: 90%;
}

.details {
    display: none;
    padding: 1em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 90%;
    text-align: left;

}

.details-active {
    display: block;
}

.details p {
    margin: 0.5em;
}

.details strong {
    color: var(--secondary-color);
}
.book-details {
    display: none;
}

.cd-details {
    display: none;
}

.activity-details {
    display: none;
}

.empty-details {
    display: none;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#review-pop-up {
    display: flex;

}

#toggle-review {
    display: none;
}

.js #toggle-review {
    display: block;
}


.js #review-pop-up {
    display: none;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 10px;
    border: 4px solid var(--secondary-color);
}

#review-pop-up h2 {
    margin-bottom: 1em;

}

#review-pop-up form {
    display: flex;
  flex-direction: column;
    margin: 2em;
    width: 40em;
    height: 40em;
    font-weight: bold;

  }

#review-pop-up label {
 font-weight: bold;
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#review-pop-up form input,
#review-pop-up form textarea {
    width: 100%; /* Gebruik de volledige breedte van de container */
    padding: 10px; /* Voeg wat padding toe voor een betere leesbaarheid */
    margin-bottom: 15px; /* Voeg wat ruimte toe tussen de velden */
    resize: vertical; /* Sta verticale resizing van de textarea toe */
    font-size: 1.2em;
    font-weight: bold;
}

#review-pop-up form input {
    height: 10%;
}

#review-pop-up form textarea {
    height: 60%;
}


    .bookmarkButton {
        position: fixed;
        bottom: 20px; /* Pas deze waarde aan naar wens voor de verticale afstand vanaf de onderkant */
        right: 20px; /* Pas deze waarde aan naar wens voor de horizontale afstand vanaf de rechterkant */
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999; /* Zorg ervoor dat het boven andere elementen wordt weergegeven */
        border-radius: 3em;
        width: 4em;
        height: 4em;
    }

    .bookmark-unchecked {
        background-color: var(--main-color);
    }

    .bookmarkChecked {
        background-color: red;
        animation: bookmarkSaveAnimation 1s ease-out;

    }

.bookmark-icon {
    margin-top: 0.4em;
    margin-left: 0.2em;
    width: 3em;
    fill: var(--secondary-color);
}

.check {
    display: block;
}

.unchecked {
    display: none;
}

.bookmark-icon-checked {
    display: none;
}

.check-icon-bookmark {
    fill: var(--main-color);
    margin-bottom: 0.2em;
    width: 4em;
    height: 3em;
    color: var(--primary-color);
}


    .bookmark-icon-checked {

        animation: bookmarkSaveAnimation 2s ease-out; /* Animatie toegepast op gecontroleerd pictogram */
    }



#bookmarkSubmit:hover {
    scale: 1.2;
    transition: 0.2s ease-in-out;
}

/*animatie wanneer bookmark gesaved wordt*/
@keyframes bookmarkSaveAnimation {
    0% {
      scale: 0.2;
    }

    50% {
        scale: 2;
    }

    100% {
scale: 1;
    }
}

/* profile page*/

.choose-profile-content-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto); /* Vaste hoogte van 200px voor alle rijen */
    grid-gap: 5em; /* Optioneel: voeg ruimte toe tussen de kolommen */
    padding: 0; /* Reset de padding */
    margin: 2em;


}

.chooseProfile {
    position: absolute;
    margin: 4em;

}

.chooseProfile img {
    width: 20em;
    height: 20em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.chooseProfile a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none; /* Verwijder standaard onderstreping */
}

.chooseProfile, h2, a {
    text-align: center;
    position: relative;
}

.chooseProfile:hover {
    scale: 1.15;
    transform: translateY(-0.5em);
    transition: 0.2s ease-in-out;
}

.chooseProfile:hover img{
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
}



@keyframes button-grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.8);
    }
}

.buttonGrow {
    animation: button-grow 1s ease-out;
}


/* personal */
.personal-page-wrapper h2{
    margin: 2em;
}

.personal-page-wrapper h3{
    margin: 1em 1em 1em 1.5em;

}

.scroll-carousel {
    max-height: 600px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; /* verticale scroll uitzetten */
    gap: 4em;
    margin: 2em;
    text-align: center;
}

.scroll-carousel::-webkit-scrollbar {
    width: 10px; /* breedte van de scrollbalk */
}

.scroll-carousel::-webkit-scrollbar-track {
    background: #f1f1f1; /* achtergrondkleur van de track */
}

.scroll-carousel::-webkit-scrollbar-thumb {
    background: #888; /* kleur van de thumb */
    border-radius: 5px; /* afgeronde hoeken van de thumb */
}

.scroll-carousel .item {
    min-width: 400px;
    height: 600px;
    line-height: 350px;
    text-align: center;
    background-color: #ddd;
    margin-right: 10px;
}

.scroll-carousel img {
    width: 400px;
    height: 600px;
    line-height: 350px;
}


